body {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  background-color: lightblue;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

/* header and nav */
header {
  height: 15vh;
  width: 100%;
  background: rgb(0, 151, 19, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  margin: auto;
  position: relative;
}

.title {
  font-size: 20px;
}
header .navbar {
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#buttons {
  margin: auto;
  width: 10%;
}
/* button */
button {
  font-family: 'Playfair Display', serif;
  /* align-self: center; */
  margin-top: 20px;
  margin-bottom: 20px;
}
.custom-btn {
  font-family: 'Playfair Display', serif;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  /* font-family: 'Lato', sans-serif;
  font-weight: 500; */
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-16 {
  border: none;
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}
.btn-16:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

.konvajs-content {
  margin: auto;
  margin-top: 100px;
  background-color: black;
  border: 5px solid darkblue;
}
.backgrounds {
  /* margin: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* .column {
    float: left;
    width: 33.33%;
  } */

/* .card {
    background: rgba( 27, 249, 198, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    margin-left:10px;
    float: left;
    width: 33.33%;
} */

img {
  cursor: pointer;
  transition: all ease-out 0.5s;
  border-radius: 10px;
}

img:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  left: 90px;
  top: 90px;
}
img:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  left: 98px;
  top: 98px;
}

.item h2 {
  text-align: center;
}
.item {
  background: rgb(0, 151, 19, 0.1);
  /* background-; */
  width: 31.5%;
  float: left;
  /* height: 350px; */
  border-radius: 10px;
  /* overflow: hidden; */
  padding-top: 10px;
  text-align: center;
  margin: 10px;
  transition: all ease-out 0.5s;
}

.item::before {
  content: '';
  box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.1);
  background: inherit;
  filter: blur(10px);
}
.item:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  left: 90px;
  top: 90px;
}
.item:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  left: 98px;
  top: 98px;
}

/* Clear floats after the columns */
.row {
  background-image: url('./assets/ilu2.png');
  /* background-position: center; */
  background-position: center;
  background-position-y: 60%;
  align-self: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.row:after {
  background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3)
    no-repeat;
  content: '';
  display: table;
  clear: both;
}

/* #special {
  color: white;
} */

/* Section headers */
h1 {
  margin-top: 50px;
  text-align: center;
}

.containerc {
  display: block;
  position: relative;
  /* align-self: center; */
  /* padding-left: 35px; */
  /* margin-left: 50px; */
  text-align: center;
  cursor: pointer;
  font-size: 22px;
}

/* Hide the browser's default checkbox */
.containerc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerc:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerc input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerc input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerc .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* footer */
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: rgb(0, 151, 19, 0.1);
  border-radius: 5px;
  color: black;
  text-align: center;
}
